@import "../variables/pure-colors.css";

/* Pure Colors */

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.success {
  color: var(--success);
}

.danger {
  color: var(--danger);
}

.info {
  color: var(--info);
}
