* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body,
input,
button,
select,
textarea {
  font: 600 1rem "Roboto Mono";
  color: #222222;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

td {
  vertical-align: middle;
}
