/* Pure Colors Vars */

:root {
  --success: #20C073;
  --success-darken: #16824e;
  --success-lighten: #45e296;
  --danger: #CF0134;
  --info: #2479FD;
  --primary: #0485D1;
  --secondary: #5D21D0;
}